@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(0px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

html {
    background-color: gray;
}

.homepage {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
}

.page-title {
    font-family: Century Gothic, sans-serif;
    font-size: 60px;
}

.team-container {
    font-family: Century Gothic, sans-serif;
    font-size: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.list {
    position: absolute;
    opacity: 0;
    text-align: center;
}

.team-container:hover .list {
    opacity: 1;
    transition: 1s ease-out;
}

.shade-list {
    height: 400px;
    width: 400px;
}

.team-id {
    font-size: 50px;    
    background-color: black;
    color: white;
}

.team-shade {
    background-color: white;
    color: black;
}

/* For shade data pages */
.name {
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 10px auto;
    display: grid;
    place-items: center;
    max-width: fit-content;
}

.typed {
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing;
    animation-duration: 2s;
    animation-timing-function: steps(30, end);
    animation-fill-mode: forwards;
    animation: typing 2s steps(20,end) forwards;
}

.image {
    animation: fade-up 1s;
}

.desc {
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    animation: fade-up 1s;
    font-size: 15px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;    
    flex-direction: row;
    justify-content: center;
}

.data-container {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 2em rgb(69. 69. 69);
    color: white;
    width: 90%;
    animation: fade-up 1s;
    margin: 10px auto; 
    padding: 40px;
    border: solid 2px white;
}

.image-description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
}

.ability-list {
    display: flex;
    flex-direction: column;
    align-self: center;
    animation: fade-up 1s;
    width: 80%;
}

.abilities {
    padding: 15px 10px 15px 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

.signature {
    color: white;
    width: 80%;
    align-self: center;
    animation: fade-up 1s;
}

.skill-title, .signature-text {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.skill-title {
    padding-top: 30px;
    font-size: 30px;
}

.signature-text {
    padding-bottom: 10px;
    font-size: 18px;
}

/* For summons pages */
.stat-block {
    display: flex;
    justify-content: center;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 2em rgb(69, 69, 69);
    color: white;
    align-self: center;
    padding: 40px;
    border: 2px solid white;
}

.image-and-stats {
    display: flex;
    flex-direction: column;
}

.image-and-stats .image {
    align-self: center;
}

.image-and-stats .name {
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
}

.stats {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: white;
    align-items: center;
}

.summon-image {
    margin: 5px;
}

.summon-list {
    color: white;
    text-decoration: none;
}