@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(0px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

html {
    background-color: gray;
}

.homepage {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
}

@font-face {
    font-family: Library3AM;
    src: url(fonts/Library\ 3\ am.otf);
}

.page-title {
    font-family: Library3AM;
    font-size: 60px;
    padding: 5px;
}

 .homepage .content {
    display: flex;
    flex-direction: column;
    align-items: center;    
    flex-direction: row;
    justify-content: space-evenly;
}

.team-container {
    font-family: Century Gothic, sans-serif;
    font-size: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    animation:  fade-up 1s;
}

.list {
    position: absolute;
    opacity: 0;
    text-align: center;
}

.team-container:hover .list {
    opacity: 1;
    transition: 1s ease-out;
}

.shade-list {
    height: 400px;
    width: 400px;
}

.team-id {
    font-size: 50px;    
    background-color: black;
    color: white;
}

.team-shade {
    background-color: white;
    color: black;
}

/* Shade data pages */
.name {
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 10px auto;
    display: grid;
    place-items: center;
    max-width: fit-content;
    font-weight: bold;
}

.data-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 2em rgb(69. 69. 69);
    color: white;
    width: 90%;
    animation: fade-up 1s;
    margin: 10px auto; 
    padding: 40px;
    border: solid 8px white;
    border-top-left-radius: 37px 140px;
    border-top-right-radius: 23px 130px;
    border-bottom-left-radius: 110px 19px;
    border-bottom-right-radius: 120px 24px;
}

.data-container .content {
    display: flex;
}

@media only screen and (max-width: 1080px) {
    .data-container {
        flex-wrap: wrap;
    }

    .shade-image {
        width: 100%;
        height: 100%;
    }

    .player-image {
        width: 100%;
        height: 50%;
    }

    .content {
        flex-wrap: wrap;
    }
}

.image-description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
}

.image {
    animation: fade-up 1s;
}

.desc {
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    animation: fade-up 1s;
    font-size: 15px;
}

.ability-list {
    display: flex;
    flex-direction: column;
    align-self: center;
    animation: fade-up 1s;
    width: 80%;
}

.abilities {
    padding: 15px 10px 15px 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

.signature {
    color: white;
    width: 80%;
    align-self: center;
    animation: fade-up 1s;
}

.skill-title, .signature-text {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.skill-title {
    padding-top: 30px;
    font-size: 30px;
}

.signature-text {
    padding-bottom: 10px;
    font-size: 18px;
}

/* Summons pages */
.stat-block {
    display: flex;
    justify-content: center;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 2em rgb(69, 69, 69);
    color: white;
    align-self: center;
    padding: 40px;
    border: 2px solid white;
}

.image-and-stats {
    display: flex;
    flex-direction: column;
}

.image-and-stats .image {
    align-self: center;
}

.image-and-stats .name {
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
}

.stats {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: white;
    align-items: center;
}

.summon-image {
    margin: 5px;
}

.summon-list {
    color: white;
    text-decoration: none;
}

/* Rules Pages */
dt {
    margin-top: 15px;
    font-weight: bold;
    font-size: 20px;
}

dd {
    margin-bottom: 15px;
}

.hunter-skill, .instruments {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

.hunter-skill .title, .instruments .title {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
    font-weight: bold;
}

.instruments .data-container {
    justify-content: flex-start;
}

/* Shades menu pages */
.menu-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

figcaption {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    text-decoration: none;
    background-color: black;
    color: white;
}

.menu-image {
    margin: 20px;
    transition-duration: 1s;
}

.menu-image:hover {
    box-shadow: 12px 16px 5px rgba(0, 0, 0, 0.24),0 17px 50px 5px rgba(0, 0, 0, 0.24);
}

.team-shade-container {
    animation: fade-up 1s;
}

.team-shade-container .name {
    font-weight: bold;
    margin-top: 50px;
}