<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
      &times;
    </a>
      <a href="#" id="rules">Rules</a>
      <a href="#" id="hunter-skills">Skills</a>
      <a href="#" id="hunter-arts">Hunter Arts</a>
      <a href="#" id="hunter-instruments">Instruments</a>
      <button class="dropdown-btn" onclick="openList1()" style="margin-top: 50px;">
        Team 1
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container" id="team1List">
        <a href="#" class="sidebar-option" id="color-shade">
          Colors
        </a>
        <a href="#" class="sidebar-option" id="dream-shade">
          Dreams
        </a>
        <a href="#" class="sidebar-option" id="healing-shade">
          Healing
        </a>
        <a href="#" class="sidebar-option" id="shadow-shade">
          Shadows
        </a>
      </div>
      
      <button class="dropdown-btn" onclick="openList2()">
        Team 2
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container" id="team2List">
        <a href="#" class="sidebar-option" id="death-shade">
          Death
        </a>
        <a href="#" class="sidebar-option" id="lightning-shade">
          Lightning
        </a>
        <a href="#" class="sidebar-option" id="pursuit-shade">
          Pursuit
        </a>
        <a href="#" class="sidebar-option" id="vengeance-shade">
          Vengeance
        </a>
        <a href="#" class="sidebar-option" id="nature-shade">
          Nature
        </a>
        <a href="#" class="sidebar-option" id="contract-shade">
          Contracts
        </a>
      </div>
    </div>
    <script>
      $("#rules").on("click", function() {
        window.location = "https://jason1166.github.io/shade-database/game-info/rules.html"
      })
      $("#hunter-skills").on("click", function() {
        window.location = "https://jason1166.github.io/shade-database/game-info/hunter-skills.html"
      })
      $("#hunter-arts").on("click", function() {
        window.location = "https://jason1166.github.io/shade-database/game-info/hunter-skills.html"
      })
      $("#hunter-instruments").on("click", function() {
        window.location = "https://jason1166.github.io/shade-database/game-info/hunter-instruments.html"
      })


      $("#color-shade").on("click", function() {
        window.location = "https://jason1166.github.io/shade-database/shades-data/team-1-shades/colors.html"
      })
      $("#dream-shade").on("click", function() {
        window.location = "https://jason1166.github.io/shade-database/shades-data/team-1-shades/dreams.html"
      })
      $("#healing-shade").on("click", function() {
        window.location = "https://jason1166.github.io/shade-database/shades-data/team-1-shades/healing.html"
      })
      $("#shadow-shade").on("click", function() {
        window.location = "https://jason1166.github.io/shade-database/shades-data/team-1-shades/shadows.html"
      })

      $("#death-shade").on("click", function() {
        window.location = "https://jason1166.github.io/shade-database/shades-data/team-2-shades/death.html"
      })
      $("#lighting-shade").on("click", function() {
        window.location = "https://jason1166.github.io/shade-database/shades-data/team-2-shades/lightning.html"
      })
      $("#pursuit-shade").on("click", function() {
        window.location = "https://jason1166.github.io/shade-database/shades-data/team-2-shades/pursuit.html"
      })
      $("#vengeance-shade").on("click", function() {
        window.location = "https://jason1166.github.io/shade-database/shades-data/team-2-shades/vengeance.html"
      })
      $("#nature-shade").on("click", function() {
        window.location = "https://jason1166.github.io/shade-database/shades-data/team-2-shades/nature.html"
      })
      $("#contract-shade").on("click", function() {
        window.location = "https://jason1166.github.io/shade-database/shades-data/team-2-shades/contracts.html"
      })
    </script>
  </body>
</html>
